@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    background: #021124;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

section#inicio h2{
    font-size: 3.5rem;
}

section#inicio span#subtitle{
    margin-right:0;
    font-size: 1.5rem;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
}

#header .profile img:hover {
    border: 8px solid #149ddd;
    transition: 0.5s;
}

#header .profile h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff
}

#header .profile .social-links a {
    font-size: 1rem;
    background: #212431;
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #149ddd;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display:flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: #6f7180
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: #149ddd
}

section#inicio {
    background-image: url("./img/bannerPortifolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.text-shadow {
    text-shadow: 4px 4px 10px #000;
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a{
    text-decoration : none;
    color: #fff

}

i.menu-mobile {
    position: fixed;
    color: #fff;
    background-color: #021124;
    right: 1rem;
    top: 1rem;
    font-size: 2.75rem;
    border-radius: 50%;
    z-index: 10;
    width: 45px;
    height: 45px;
    justify-self: center;
    align-items: center;
    display: flex;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #252c90;
    border-radius: 5%;
}

.section-bg {
    background-color: #eff5ff;
}

.project-link {
  position: relative;
  text-decoration: none;
  color: #007bff;
}

.hover-preview {
  display: none;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  z-index: 100;
  width: 200px;
  text-align: center;
}

.hover-preview img {
  width: 100%;
  border-radius: 4px;
}

.hover-preview p {
  font-size: 12px;
  color: #333;
  margin: 0;
}

.project-link:hover .hover-preview {
  display: block;
}

/* Animation */

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100px, 0);

}

[data-anime="up"] {
    transform: translate3d(0, 100px, 0);
    
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
    
}

[data-anime="right"] {
    transform: translate3d(-100%, 0, 0);
    
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.card.projetos:hover {
    background-color: #c6dfff;
    transition: 0.5s;
}

.badge:hover {
  opacity: 0.85;
  transform: scale(1.05);
  transition: 0.2s;
}

#projetos_ver_todos {
    font-size: 20px;
    text-decoration: none;
}

#github-projects > div {
  height: 100%;
}

#alerta {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
}

#footer{
    padding:15px;
    color: #fff;
    width: 100%;
    font-size: 14px;
    background-color: #021124;
    transition: 0.3s
}

.static-img {
    display: none;
}

@media (min-width: 1025px){
    #main{
        margin-left: 300px;
        margin-right: 0;
    }
    #header {
        left: 0;
    }
    section#inicio h2 {
        font-size: 4rem;
    }

    section#inicio span#subtitle {
        margin-right: 8rem;
        font-size: 2rem;
    }
    i.menu-mobile{
        display:none;
    }

    .carousel-inner,
    .carousel-item,
    .col {
        overflow: visible !important;
    }

    .card.projetos {
        overflow: visible;
        transition: 0.3s ease;
        border-radius: 12px;
    }

    .card.projetos:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        z-index: 1000;
    }
    
    .titulo-badges {
    flex: wrap;
    align-items: baseline;
    }

    .badge {
        font-weight: 500;
        font-size: 0.85rem;
        padding: 0.4em 0.6em;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
    
    [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
    }

    #footer {
        position:fixed;
        left:0;
        bottom:0;
        width:300px;
        z-index:9999;
    }
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.4s ease;
    z-index: 1000;
}

.card-text{
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  color: #bbb;
}

.btn-outline-primary:hover {
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.6);
  color:white !important;
  transition: 0.4s;
}

.btn-outline-danger:hover {
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
  color:white !important;
  transition: 0.4s;
}

.btn-outline-success:hover {
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
  color:white !important;
  transition: 0.4s;
}