<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Portfolio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/Profile.png">
            <h1>Guilherme Fernandes Secco</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/guilherme-f-secco/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/GuilhermeSecco">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio" onclick = ativarLink(this)>
                        <i class="bi bi-house" aria-hidden="true"></i>
                        Home
                    </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#sobre" onclick = ativarLink(this)>
                        <i class="bi bi-person" aria-hidden="true"></i>
                         About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#habilidades" onclick = ativarLink(this)>
                        <i class="bi bi-list-check" aria-hidden="true"></i>
                        Skills
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#projetos" onclick = ativarLink(this)>
                        <i class ="bi bi-collection" aria-hidden="true"></i>
                         Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/projetos" onclick = ativarLink(this)>
                        <i class ="bi bi-collection-fill" aria-hidden="true"></i>
                         All Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contato" onclick = ativarLink(this)>
                        <i class ="bi bi-envelope" aria-hidden="true"></i>
                         Contact
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section class="row m-0 p-0" id="inicio">
            <div class="col-12 col-md-5 d-flex
                        justify-content-center align-items-center
                        flex-column">
                <h2 class="text-white text-shadow text-center text-md-start">
                    Guilherme Fernandes Secco
                </h2>
                <span id="subtitle" class="text-white text-shadow text-center text-md-start">
                    Data Professional | Data Scientist focused on Python and Process Automation
                </span>
            </div>
            <div class="col-12 col-md-7 d-flex
                        justify-content-end align-items-end
                        flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class = "bi bi-arrow-down text-white
                                pe-2 fs-5 mb-3" aria-hidden="true">
                    </i>
                    <a href="#sobre">
                        Scroll for more
                    </a>
                </div>
                
            </div>    
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h1 class="pt-3" data-anime="down">About Me</h1>

                    <h5 class="pt-1" data-anime="down">
                        🎓 Software Engineering student specializing in Data Science and Artificial Intelligence.
                    </h5>

                    <p data-anime="down">
                        I have hands-on experience with Python, SQL, Power BI, Excel, Machine Learning, and Automation.
                        I develop solutions ranging from exploratory data analysis, interactive dashboards, and web
                        scraping to full web applications and predictive models using machine learning techniques.
                    </p>

                    <h5 data-anime="down">💡 Goal</h5>
                    <p data-anime="down">
                        My goal is to transform data into actionable insights, automate processes, and create
                        intelligent solutions that generate real business impact.
                        I constantly aim to combine statistics, programming, and software engineering to solve
                        problems efficiently and in an evidence-driven way.
                    </p>

                    <h5 data-anime="down">🔧 Key Skills</h5>
                    <ul>
                        <li data-anime="down">Python (Pandas, NumPy, Scikit-learn, XGBoost, Selenium, PyAutoGUI)</li>
                        <li data-anime="down">Business Intelligence (Power BI, Excel, Power Query)</li>
                        <li data-anime="down">Databases (MySQL, MongoDB)</li>
                        <li data-anime="down">Machine Learning (Modeling, Preprocessing, Metrics, Explainability)</li>
                        <li data-anime="down">Generative AI & LLMs (Prompt Engineering, Whisper, Gemini API, LangChain)</li>
                        <li data-anime="down">Web Development (Flask, Bootstrap, REST APIs)</li>
                        <li data-anime="down">Version Control & Collaboration (Git and GitHub)</li>
                        <li data-anime="down">Agile Methodologies (Scrum and Kanban)</li>
                    </ul>

                    <h5 data-anime="down">🚀 Featured Projects</h5>
                    <ul>
                        <li data-anime="down">
                            Credit Approval Simulator — web application using an XGBoost predictive model, risk analysis, and explainability tools.
                        </li>
                        <li data-anime="down">
                            YouTube LLM Summarizer — end-to-end GenAI pipeline that downloads videos, transcribes audio with Whisper, and generates structured summaries using Gemini 2.0 Flash.
                        </li>
                        <li data-anime="down">
                            Web Scraping Automation — automated collection and structuring of LinkedIn job posts using Selenium.
                        </li>
                        <li data-anime="down">
                            Purchase Prediction — SVM modeling comparing different kernels and evaluating performance metrics.
                        </li>
                        <li data-anime="down">
                            Interactive Portfolio — Flask + Bootstrap website integrated with GitHub API to dynamically display projects.
                        </li>
                    </ul>

                    <h5 data-anime="down">
                        💬 I am currently looking for opportunities in Data Science and Machine Learning,
                        in teams that value innovation, continuous learning, and the creation of intelligent,
                        data-driven solutions that generate real business impact.
                    </h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/Foto_Perfil.jpg" alt="Foto do Guilherme" data-anime="left">
                </div>

                <div class="col-md-8 mt-md-0 mt-3" data-anime="right">
                    <h3>Data Scientist in Training</h3>
                    <p>
                        I dedicate a significant part of my time to developing personal projects
                        in the areas of Data Science, automation, and web development.
                        My main focus is building practical solutions that streamline processes
                        and support data-driven decision-making.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Information</h4>
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Age: <span class="fw-lighter">26 years</span><br>
                                    Date of Birth: <span class="fw-lighter">August 30, 1999</span>
                                </li>
                                <li class="list-group-item">
                                    <h5>Location</h5>
                                    City: <span class="fw-lighter">Bauru</span><br>
                                    State: <span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    <h5>Higher Education</h5>
                                    Degree: <span class="fw-lighter">Software Engineering</span><br>
                                    Institution: <span class="fw-lighter">Unicesumar</span><br>
                                    Expected Graduation: <span class="fw-lighter">December 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5 mt-md-5">
                                <li class="list-group-item">
                                    <h5>🔧 Other Courses</h5>
                                    Course: <span class="fw-lighter">English Language</span><br>
                                    Level: <span class="fw-lighter">Master 2</span><br>
                                    Expected Completion: <span class="fw-lighter">December 2025</span>
                                </li>
                                <li class="list-group-item">
                                    <h5>Hobbies</h5>
                                    <span class="fw-lighter">
                                        🎮 Video Games<br>
                                        ⚙️ Building automations<br>
                                        🧰 PC building, upgrades & maintenance<br>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h1 class="pt-3">Skills</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="categoria pb-4 mt-3 mt-md-2">
                            <h4>Programing</h4>
                                <p class="mt-3 mb-0">Python</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 75%" data-anime="left">75%</div>
                                </div>
                                <p class="mt-3 mb-0">Automations (Selenium, BeautifulSoup, PyAutoGUI, APIs)</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%" data-anime="left">80%</div>
                                </div>
                                <p class="mt-3 mb-0">Web Development (Flask + Bootstrap)</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 60%" data-anime="left">60%</div>
                                </div>
                        </div>
                        <div class="categoria pb-2">
                            <h4>Tools & Workflow</h4>
                                <p class="mt-3 mb-0">Report Creation</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%" data-anime="left">80%</div>
                                </div>
                                <p class="mt-3 mb-0">Database Research & Maintenance</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
                                </div>
                                <p class="mt-3 mb-0">Code Versioning (Git, GitHub)</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%" data-anime="left">75%</div>
                                </div>
                                <p class="mt-3 mb-0">Agile Methodologies (Scrum, Kanban)</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 60%" data-anime="left">60%</div>
                                </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 mt-3 mt-md-2 pb-2">
                         <div class="categoria">
                            <h4>Data & BI</h4>
                                <p class="mt-3 mt-md-4 mb-0">Excel</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">Power BI</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 75%" data-anime="left">75%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">MySQL</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">Data Analysis</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%" data-anime="left">80%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">Predictive Analysis with Machine Learning</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 55%" data-anime="left">70%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">Data Preparation & Modeling</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 55%" data-anime="left">70%</div>
                                </div>
                                <p class="mt-3 mt-md-4 mb-0">Mathematics and Statistics</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
                                </div>
                        </div>
                    </div>
                    <p class="text-center">
                        The percentages represent my practical proficiency level with each technology, based on personal projects, academic work, and real-world application experience.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="categoria pt-1 pb-4">
                            <h4>Soft-Skills</h4>
                                <p class="mt-3 mb-0">Learning Ability</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 100%" data-anime="left">100%</div>
                                </div>
                                <p class="mt-3 mb-0">Organizational Skills</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                                </div>
                                <p class="mt-3 mb-0">Results-Oriented</p>
                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                                </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-0 mt-md-5 mb-0">Details-Oriented</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Proactivity</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Team-Work</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
                        </div>
                    </div>
                    <p class="text-center">
                            The percentages reflect my proficiency level based on hands-on projects, academic work, collaborative environments, personal studies, and behavioral assessments.
                        </p>
                </div>
            </div>
        </section>

        <section class="mt-5" id="projetos" data-anime="left">
            <div class="container pb-5 pt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="pb-4">Projects</h1>
                    <a class="btn btn-primary btn-sm" id="projetos_ver_todos" href="/projetos">See all projects <i class="bi bi-arrow-up-right-square-fill"></i></a>
                </div>

                <div id="carouselProjetos" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval='20000'>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col">
                                <div class="card projetos">
                                    <div class="project-preview mb-md-5">
                                        <img src="../static/img/Projeto_Simulador_Credito.png" class="card-img-top static-img" alt="Dashboard do Projeto Credito">
                                        <img src="../static/img/Projeto_Simulador_Credito.png" class="card-img-top hover-gif" alt="gif do Projeto Credito">
                                    </div>
                                    <div class="card-body mt-md-2">
                                        <div class="titulo-badges mt-md-5 mb-2">
                                            <h5 class="card-title mb-0 mb-md-1 me-md-2">Credit Simulator</h5>
                                                <span class="badge rounded-pill text-bg-primary align-self-end">Python</span>
                                                <span class="badge rounded-pill text-bg-secondary align-self-end ms-1">Machine Learning</span>
                                        </div>
                                        <p class="card-text">Interactive Credit Approval Simulator based on Machine Learning —
                                            built with Flask and XGBoost to predict default risk and generate personalized interest rates.
                                        <div class="d-flex justify-content-center">
                                            <a href="/projetos/simulador-credito" target="_blank"
                                                class="btn btn-outline-danger me-2">Start Simulation <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                            <a href="https://github.com/GuilhermeSecco/Risco-de-Credito-e-Fraude-em-Emprestimos" target="_blank"
                                                class="btn btn-outline-primary">View on GitHub <i class="bi bi-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card projetos">
                                    <div class="project-preview">
                                        <img src="../static/img/Projeto_LinkedIN.png" class="card-img-top static-img" alt="Dashboard do Projeto LinkedIN">
                                        <img src="../static/img/Projeto_LinkedIN.gif" class="card-img-top hover-gif" alt="gif do Projeto LinkedIN">
                                    </div>
                                    <div class="card-body">
                                        <div class="titulo-badges mt-1 mb-md-2">
                                            <h5 class="card-title me-2 mb-0 mb-md-1">JobScraper</h5>
                                            <span class="badge rounded-pill text-bg-primary align-self-end">Python</span>
                                            <span class="badge rounded-pill text-bg-danger align-self-end ms-1">Selenium</span>
                                            <span class="badge rounded-pill text-bg-success align-self-end ms-1">Excel</span>
                                            <span class="badge rounded-pill text-bg-warning align-self-end ms-1">Power BI</span>
                                        </div>
                                        <p class="card-text">Selenium automation for collecting LinkedIn job postings and generating an analytical dashboard in Power BI.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://app.powerbi.com/groups/me/reports/d1a9551d-ae39-4437-a562-51e7d519023d/836231044304e1a563f5?ctid=ba201131-9621-49ca-b50d-57d968b4ac35&experience=power-bi" target="_blank"
                                                class="btn btn-outline-warning me-2">View on Power BI <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                            <a href="https://github.com/GuilhermeSecco/JobScraper-BI-Dashboard" target="_blank"
                                                class="btn btn-outline-primary">View on GitHub <i class="bi bi-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval='20000'>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card projetos">
                                    <div class="project-preview">
                                        <img src="../static/img/Projeto_Risco_Credito.png" class="card-img-top static-img" alt="Dashboard do Projeto Credito">
                                        <img src="../static/img/Projeto_Risco_Credito.gif" class="card-img-top hover-gif" alt="gif do Projeto Credito">
                                    </div>
                                    <div class="card-body">
                                        <div class="titulo-badges mb-2"> 
                                            <h5 class="card-title mb-0 mb-md-1 me-md-2 ">Credit Risk</h5>
                                                <span class="badge rounded-pill text-bg-primary align-self-end">Python</span>
                                                <span class="badge rounded-pill text-bg-secondary align-self-end ms-1">Machine Learning</span>
                                                <span class="badge rounded-pill text-bg-warning align-self-end ms-1">Power BI</span>
                                                <span class="badge rounded-pill text-bg-info text-dark align-self-end ms-1">MySQL</span>
                                        </div>
                                        <p class="card-text">Machine learning model trained to predict the probability of a loan application being fraudulent.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://app.powerbi.com/groups/me/reports/6513b484-a3eb-44a6-aaa1-42ba68dc71f5/aee932d08b9bc93b5870?ctid=ba201131-9621-49ca-b50d-57d968b4ac35&experience=power-bi&bookmarkGuid=b05b7c5b-be2a-4897-8862-7938efef6bd1" target="_blank"
                                                class="btn btn-outline-warning me-2">View on Power BI <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                            <a href="https://github.com/GuilhermeSecco/Risco-de-Credito-e-Fraude-em-Emprestimos" target="_blank"
                                                class="btn btn-outline-primary">View on GitHub <i class="bi bi-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card projetos">
                                    <div class="project-preview">
                                        <img src="../static/img/Projeto_Uber.png" class="card-img-top static-img" alt="Dashboard do Projeto Uber">
                                        <img src="../static/img/Projeto_Uber.gif" class="card-img-top hover-gif" alt="gif do Projeto Uber">
                                    </div>
                                    <div class="card-body">
                                        <div class="titulo-badges mt-1 mb-md-2">
                                            <h5 class="card-title mb-0 mb-md-1 me-2">Uber Data Analysis</h5>
                                                <span class="badge rounded-pill text-bg-success align-self-end">Excel</span>
                                                <span class="badge rounded-pill text-bg-warning align-self-end ms-1">Power BI</span>
                                        </div>
                                        <p class="card-text">This project uses SQL to answer business questions and builds a report using Power BI dashboards.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://app.powerbi.com/groups/me/reports/a55cdd2b-c51e-41bc-921d-e450d2b390ab?ctid=ba201131-9621-49ca-b50d-57d968b4ac35&bookmarkGuid=aef301b6-0c2a-40b9-a141-09449dccb056" target="_blank"
                                                class="btn btn-outline-warning me-2">View on Power BI <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                            <a href="https://github.com/GuilhermeSecco/Analise-Dados-Uber" target="_blank"
                                                class="btn btn-outline-primary me-2">View on GitHub <i class="bi bi-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval='20000'>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card projetos">
                                    <div class="project-preview mb-md-2">
                                        <img src="../static/img/Projeto_Excel.png" class="card-img-top static-img" alt="Dashboard do Projeto Excel">
                                        <img src="../static/img/Projeto_Excel.png" class="card-img-top hover-gif" alt="gif do Projeto Excel">
                                    </div>
                                    <div class="card-body">
                                        <div class="titulo-badges mt-md-5 mt-0 mb-md-2">
                                            <h5 class="card-title me-2 mb-md-1">Corporate Revenue and Expense Analysis</h5>
                                                <span class="badge rounded-pill text-bg-success align-self-end">Excel</span>
                                        </div>
                                        <p class="card-text">Data cleaning, transformation, modeling, and the creation and monitoring of indicators and dashboards using Excel.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/GuilhermeSecco/Analise-Receitas-e-Despesas-Excel" target="_blank"
                                                class="btn btn-outline-primary">View on GitHub <i class="bi bi-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjetos" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProjetos" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>

            </div>
            
        </section>

        <section class="pt-5 pb-5 section-bg" id="contato">

            <div class="container" data-anime="right">
                <h1 class="pt-3 pb-3">Contact Info</h1>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4 data-anime="down">
                                    <i class="bi bi-geo-alt"></i>
                                    Based in:
                                </h4>
                                <p data-anime="up">Bauru, SP — Brazil</p>
                            </div>
                            <div class="email mb-2">
                                <h4 data-anime="up">
                                    <i class="bi bi-envelope"></i>
                                    Email:
                                </h4>
                                <p data-anime="up">Guilhermefsecco@hotmail.com</p>
                            </div>
                            <div class="linkedin mb-4">
                                <h4 data-anime="up">
                                    <i class="bi bi-linkedin"></i>
                                    LinkedIn:
                                </h4>
                                <a data-anime="up" href="https://www.linkedin.com/in/guilherme-f-secco/" target="_blank">https://www.linkedin.com/in/guilherme-f-secco</a>
                            </div>
                            <div class="github">
                                <h4 data-anime="up">
                                    <i class="bi bi-github"></i>
                                    GitHub:
                                </h4>
                                <a data-anime="up" href="https://github.com/GuilhermeSecco" target="_blank">https://github.com/GuilhermeSecco</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="card p-5 shadow border-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14760.576194151232!2d-49.06421543080326!3d-22.348189128348245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf
                                6743bb4a1387%3A0x4d79212652a15cd6!2sAv.%20Get%C3%BAlio%20Vargas%20-%20Bauru%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1762298702826!5m2!1spt-BR!2sbr"
                                width="500" height="306" style="border:0;" allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                class="w-100" data-anime="up">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Guilherme Fernandes Secco</strong>
            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>